nav a, nav span{
  text-decoration:none;
  color:white;
  font-size:18px; 
  display:inline-block; 
  transition: all 0.5s ease 0s;
}

nav a {
  padding: 20px 45px; 
}

nav span {
  padding: 20px 0px; 
}

nav {
  display: flex;
  justify-content: center;
}

nav a:after {    
  content: "";
  display: block;
  height: 2px;
  margin-top: 4px;
  background: #fff;
  transition: width 0.3s ease;
  width: 0;
}

nav a:hover:after { 
  width: 100%;
}

.fixed-section{
  position: fixed;
  z-index: 100;
  width: 100%;
  mix-blend-mode: exclusion;
}

#bg {
  top: 0;
}

#bg2 {
  top: 100vh;
}

#bg3 {
  top: 200vh;
}

html{
  scroll-behavior:smooth
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins";
  background: rgb(15, 15, 15);
}

canvas {
  position: absolute;
  left: 0;
  mix-blend-mode: exclusion;
}

h1 {
  font-size: 8rem;
  color: white;
  text-transform: uppercase;
}

h2 {
  font-size: 5rem;
  color: white;
  margin-bottom: 1rem;
}

h3 {
  font-size: 3rem;
  color: white;
}

h4 {
  font-size: 2.5rem;
  color: white;
  margin: 0;
}

#purple {
  color: #c33764;
}

#blue {
  color: #394ae7;
}

#header {
  height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
}

#blank {
  height: 100vh;
}

#intro {
  margin-left: 20%;
  width: 35%;
  height: 100vh;
  float: left;
  display: grid;
  place-items: center;
  opacity: 0;
}


/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: linear-gradient(180deg, #c33764, #394ae7);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
  box-shadow: 0px 0px 0px 100000vh black;
}